<section id="sec-one">
  <ion-row>
    <ion-col size="12">
      <div class="containt-svg">
        <img src="assets/img/person.png" alt="img" />
      </div>
      <h1 class="title-sec-one">¡Hola a todos!</h1>
      <h3 class="subtitle-sec-one">Soy Elisa</h3>
      <p class="text-sec-one">
        Una Frontend Developer que le encanta implementar diseños que inspiran y
        atraen a las personas.
      </p>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <div class="div-sec-one-media">
              <a href="tel:3022710630">
                <ion-icon name="call"></ion-icon>
              </a>
            </div>
            <div class="div-sec-one-media">
              <a href="mailto:linacastrodev@gmail.com">
                <ion-icon name="mail"></ion-icon>
              </a>
            </div>
            <div class="div-sec-one-media">
              <a href="https://instagram.com/lirrumscode" target="_blank">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </div>
            <div class="div-sec-one-media">
              <a href="https://twitter.com/lirrums" target="_blank">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </div>
          </ion-row>
        </ion-col>
        <ion-col size="4"></ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</section>
<section id="sec-two">
  <p class="text-sec-two">
    A lo largo de mi carrera como Frontend, he tenido el privilegio de trabajar
    en proyectos retadores e increíbles
  </p>
  <h3 class="heading-sec-two">Aquí hay algunos que me gustaría compartir.</h3>
  <div class="icon-sec-two">
    <ion-icon name="arrow-down"></ion-icon>
  </div>
  <div class="containt-svg">
    <img src="assets/img/img.png" alt="img" />
  </div>
  <div class="box-one">
    <h3>LeonidasEsteban.com</h3>
  </div>
  <p class="heading-one">
    Accede a más de 120 proyectos que te ayudarán a mejorar tus habilidades como
    desarrollador Front-End.
  </p>

  <ion-row>
    <ion-col size="12">
      <div class="containt-btn">
        <ion-button shape="round" class="btn-github">
          <ion-icon name="logo-github"></ion-icon>
          <span>Ver Código</span>
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="containt-btn">
        <ion-button shape="round" class="btn-see">
          <span>Ver Proyecto</span>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <div class="comment">
        <div class="containt-img">
          <img src="assets/img/user.png" />
        </div>
        <p class="heading-three">
          "Elisa ha sido de gran ayuda para acelerar ciertos esfuerzos de
          desarrollo. Lo que nos hubiera llevado 6 meses solo les llevó 1,5
          meses ".
        </p>
        <p class="heading-four">
          LEONIDAS ESTEBAN / COFUNDADOR Y CEO LEONIDASESTEBAN.COM
        </p>
      </div>
    </ion-col>
  </ion-row>
</section>
<section id="sec-three">
  <div class="containt-svg">
    <img src="assets/img/ipad.png" alt="img" />
  </div>
  <div class="box-one">
    <h3>Marvol</h3>
  </div>
  <p class="heading-one">
    Accede a más de 120 proyectos que te ayudarán a mejorar tus habilidades como
    desarrollador Front-End.
  </p>

  <ion-row>
    <ion-col size="12">
      <div class="containt-btn">
        <ion-button shape="round" class="btn-github">
          <ion-icon name="logo-github"></ion-icon>
          <span>Ver Código</span>
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="12">
      <div class="containt-btn">
        <ion-button shape="round" class="btn-see">
          <span>Ver Proyecto</span>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <div class="comment">
        <div class="containt-img">
          <img src="assets/img/user1.png" />
        </div>
        <p class="heading-three">
          "Elisa ha superado mis expectativas desde el diseño hasta el
          desarrollo".
        </p>
        <p class="heading-four">JASON LOPEZ / COFUNDADOR Y CEO MARVOL</p>
      </div>
    </ion-col>
  </ion-row>
</section>